<%= form_for(course) do |f| %>
  <div class="field">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="actions">
    <%= f.submit 'Criar curso' %>
  </div>
<% end %>
